# Environment
.env

# Virtual environments
.venv/

#Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
build/
dist/

# ATT&CK layer test exports
*layer*.json

# Local config overrides
config/config.yaml

# Editors / OS
.vscode/